{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <main class="p-4 loginPage">
        <div class="container ">
            <div class="row">
                <div class="col-12 d-flex loginHeader">
                    <div class="col-6 d-flex text-start">
                        <h2 class="fs-3">Se connecter</h2>
                    </div>
                    <div class="col-6 d-flex justify-content-end gap-2 registerRemoveBtn">
                        <button class="btnRegister"><a href="{{ path('app_register') }}">S'enregistrer</a></button>
                        <button class="btnRegister"><a href="{{ path('app_home') }}">Retour</a></button>
                    </div>
                </div>
               
                <div class="loginContainer">
                        <form method="post">

                            {% if error %}
                                <div class="errorMessage">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3 text-center">
                                    Vous êtes déjà connecté en tant que <span class="text-danger">{{ app.user.userIdentifier }}</span>
                                </div>
                            {% endif %}
                            <div class="inputFormLogin">
                                <label for="inputEmail">Email</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="inputEmail" autocomplete="email" required autofocus>
                                <label for="inputPassword">Mot de passe</label>
                                <input type="password" name="password" id="inputPassword" class="inputEmail" autocomplete="current-password" required>
                            </div>
                            <a href="{{ path('app_forgot_password_request') }}" class="forgetPass"><p class="mb-3">Mot de passe oublié</p></a>

                            <label class="mb-3">
                                <input type="checkbox" name="_remember_me">
                                Se sourvenir de moi
                            </label>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            
                            <div class="col-12">
                                <button class="btnConnect" type="submit">
                                    Se connecter
                                </button>
                            </div>
                        </form>
                  
                    </div>
                
            </div>
        </div>
    </main>

{% endblock %}