{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <div class="row cards">
        {% for product in allProductsFromCategory %} 
            {% if product.category.id == category.id %}
                <div class="col-lg-3 col-12">
                    <div class="card cardProducts">
                    <img class="card-img-top" src="{{'/images/products/' ~ product.picture}}" alt="Card image product">
                        <div class="card-body">
                            <h3>{{product.name}}</h3>
                            <p>{{product.description}}</p>
                            {% if product.size == NULL %}
                                <p class="ProductSize">Pas de dimensions pour ce produit!</p>
                            {% else %}
                                <p class="card-text ProductSize">Dimension : {{product.size}}</p>
                            {% endif %}

                            {% if product.quantity > 0 %}
                                <p class="card-text">En stock : {{product.quantity}}</p>
                            {% else %}
                                <p class="ProductStock"> Rupture de stock</p>
                            {% endif %}

                            <div class="PriceDetailsCard">
                                <button class="btnDetailsProduct"><a href="{{ path('app_details_products', { id:product.id }) }}">Détails</a></button>
                                <p>{{product.price}} €</p>
                            </div>
                        </div>
                    </div>
                </div>
             {% endif %}

        {% endfor %}
    </div>
{% endblock %}