{% extends 'base.html.twig' %}

{% block title %}Tous mes produits{% endblock %}
{% block body%}
<div class="cards">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 m-auto">
        {% for product in products %}
            
                <div class="card cardProducts">
                    <img class="card-img-top" src="{{'/images/products/' ~ product.picture}}" alt="Card image cap">
                    <div class="card-body"> 
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.description}}</p>
                        {% if product.size == NULL %}
                            <p class="ProductSize">Pas de dimensions pour ce produit!</p>
                        {% else %}
                            <p class="card-text ProductSize">Dimension : {{product.size}}</p>
                        {% endif %}

                        {% if product.quantity > 0 %}
                            <p class="card-text">En stock : {{product.quantity}}</p>
                        {% else %}
                            <p class="ProductStock"> Rupture de stock</p>
                        {% endif %}
                        <div class="PriceDetailsCard">
                            <button class="btnDetailsProduct"><a href="{{ path('app_details_products', { id:product.id }) }}">Détails</a></button>
                            <p>{{product.price}} €</p>
                        </div>
                    </div>

                </div>
                
        {% endfor %}

    </div>
</div>
{% endblock %}
