{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}
{% block body%}
<div class="cards">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 m-auto">
        {% for product in products %}
            
                <div class="card cardProducts">
                    <img class="card-img-top" src="{{'/images/products/' ~ product.picture}}" alt="Card image cap">
                    <div class="card-body"> 
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.description}}</p>
                        <p class="card-text">En stock : {{product.quantity}}</p>
                        <button class="btnDetailsProduct"><a href="{{ path('app_details_products', { id:product.id }) }}">Détails</a></button>
                    </div>
                    {# <a href="{{ path('app_delete_artisan', { id:artisan.id }) }}" class="btn btn-outline-danger mb-3">Supprimer</a> #}   
                </div>
                
        {% endfor %}

    </div>
</div>
{% endblock %}
