{% extends 'base.html.twig' %}

{% block title %}
    Details de l'article
{% endblock %}

{% block body %}
<main>
    <section class ="productDetail">
       <div class="row d-lg-flex pt-5">
            <div class="col-12 col-lg-6">
               <img class="productImage" src="{{'/images/products/' ~ oneProducts.picture}}" alt="Card image cap">
            </div>
            <div class="col-12 col-lg-6 productInfo">
                <h1>{{oneProducts.name}}</h1> 
                <p>{{oneProducts.description}}</p>
                <p>{{oneProducts.price}} €</p>  
                <button class="btnDetailsProduct"><a href="{{path('app_cart_add', { id: oneProducts.id } ) }}">
                    Ajouter au panier
                </a></button>
                <p>La livraison est offerte dès 50 € d'achat</p>
               
            </div>
        </div>
    </section>   
 
<section class="avis m-5 pt-5 opinionSection">

    <h3 class="mt-5">Tous les avis</h3>
    
    {% for opinion in oneProducts.opinion %}
        <ul>
            <li>{{ opinion.avis }}</li>
            <li> Note: {{ opinion.score }}/5 
                {% if opinion.score == 1 %}
                    <i class="text-warning" data-value="1">★</i></i><i class="star" data-value="1">★</i></i><i class="star" data-value="1">★</i></i><i class="star" data-value="1">★</i></i><i class="star" data-value="1">★</i>
                {% endif %}

                {% if opinion.score == 2 %}
                    <i class="text-warning" data-value="1">★</i><i class="text-warning" data-value="1">★</i></i><i class="star" data-value="1">★</i></i><i class="star" data-value="1">★</i></i><i class="star" data-value="1">★</i>
                {% endif %}

                {% if opinion.score == 3 %}
                    <i class="text-warning" data-value="1">★</i><i class="text-warning" data-value="1">★</i><i class="text-warning" data-value="1">★</i></i><i class="star" data-value="1">★</i></i><i class="star" data-value="1">★</i>
                {% endif %}

                {% if opinion.score == 4 %}
                    <i class="text-warning" data-value="1">★</i><i class="text-warning" data-value="1">★</i><i class="text-warning" data-value="1">★</i><i class="text-warning" data-value="1">★</i></i><i class="star" data-value="1">★</i>
                {% endif %}

                {% if opinion.score == 5 %}
                    <i class="text-warning" data-value="1">★</i><i class="text-warning" data-value="1">★</i><i class="text-warning" data-value="1">★</i><i class="text-warning" data-value="1">★</i><i class="text-warning" data-value="1">★</i>
                {% endif %}
            </li>
        </ul> 

    {% endfor %}
        <div class="d-flexjustify-content-start ">
            <button class="btnOpinion"><a href="{{ path('app_opinion',{ id:oneProducts.id }) }}">Déposez un avis</a></button>
        </div>
</section>
</main>
{% endblock %}