<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
            <link href="{{ asset('css/mediastyle.css') }}" rel="stylesheet">
            <!-- CSS only -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
           
        {% endblock %}

        {% block javascripts %}
            <!-- JavaScript Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navLinkChoose">
                <div class="container-fluid">
                    <a class="navbar-brand marg-logo" href="{{ path('app_home') }}">
                        <img src="{{ asset('/images/logoV5.png') }}" alt="" class="d-inline-block align-text-top logo">
                    </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item homeLink">
                                <a class="nav-link active " aria-current="page" href="{{ path('app_home') }}">Page d'accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_products') }}">Tous les articles</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Categories
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ path('app_category_products', { id:productsCategory[0].id })}}">Mitaines</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_category_products', { id:productsCategory[1].id })}}">Echarpes</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_category_products', { id:productsCategory[2].id })}}">Maroquineries</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_category_products', { id:productsCategory[3].id })}}">Boucles d'oreilles</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_category_products', { id:productsCategory[4].id })}}">Décoration</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Matières
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ path('app_matter_products', { id:productsMatter[0].id })}}">Coton</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_matter_products', { id:productsMatter[1].id })}}">Acrylique</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_matter_products', { id:productsMatter[2].id })}}">Polyester</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_matter_products', { id:productsMatter[3].id })}}">Coton bio d'Egypte</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="navbar-nav btnLog">
                         {% if app.user is not null %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="nav-item m-2">
                                        <a class="btnAdmin" href="/admin">
                                        <?xml version="1.0" encoding="UTF-8"?>
                                            <svg width="24px" height="24px" viewBox="0 0 500 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <g id="admin" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <path d="M250.989967,319.108535 L251.278124,319.179415 L311.566844,335.945745 C313.375576,336.448519 314.73169,337.938715 315.072725,339.771941 L315.108741,339.993534 C315.458421,342.508614 323.435696,401.918885 302.974525,431.473038 C282.538192,460.992549 252.389256,468.557398 251.115376,468.865247 C250.736938,468.956099 250.35131,469.001851 249.964374,469.001851 C249.577439,469.001851 249.191811,468.956752 248.813372,468.865247 L248.280668,468.728284 C243.957236,467.57058 216.164991,459.221379 196.954223,431.473038 C176.493053,401.918232 184.470327,342.50796 184.820007,339.993534 C185.078936,338.133267 186.375442,336.591465 188.147065,336.010773 L188.361904,335.945745 L248.650624,319.179415 C249.415199,318.966775 250.217473,318.943148 250.989967,319.108535 Z M250,236 C325.375976,236 386.839081,285.640072 389.88191,347.830714 L389.956189,349.719083 C389.985339,350.698662 390,446 390,446 L359.993876,446 L359.969463,350.611418 C358.609436,304.90799 310.8173,266 250,266 C189.338674,266 141.605079,304.721321 140.040599,350.297394 L140.008113,446 L110,446 L110.058258,349.268197 C112.216089,286.406758 174.044167,236 250,236 Z M250,394 L214.803703,394.001459 C216.285256,402.983304 218.625893,410.071966 221.619832,414.396511 C227.430381,422.789362 234.838334,429.271555 243.181776,434.080761 C245.234633,435.264039 247.258445,436.294316 249.216401,437.178151 L249.964,437.509 L249.999216,437.493 L250,394 Z M286.721,360.174 L249.999216,349.962 L250,394 L285.124,393.999 L285.217438,393.431461 C286.107688,387.84901 286.6699,381.56177 286.85708,374.767461 C286.984674,370.136009 286.939631,365.488661 286.754316,360.929042 L286.721,360.174 Z M250,6 C307.989899,6 355,53.0101013 355,111 C355,168.989899 307.989899,216 250,216 C192.010101,216 145,168.989899 145,111 C145,53.0101013 192.010101,6 250,6 Z M250,36 C208.578644,36 175,69.5786438 175,111 C175,152.421356 208.578644,186 250,186 C291.421356,186 325,152.421356 325,111 C325,69.5786438 291.421356,36 250,36 Z" id="Shape" fill="#000000"></path>
                                                </g>
                                            </svg>
                                        </a>

                                    </li>
                                {% endif %}
                                <li class="nav-item m-2">
                                    <a class="btnLogout" href="{{ path('app_profil', { id:app.user.id }) }}">
                                        <?xml version="1.0" ?>
                                           <svg id="Icons_User" overflow="hidden" width='16px' height="16px" version="1.1" viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                           <g>
                                           <circle cx="48" cy="30" r="16"/>
                                           <path d=" M 80 82 L 80 66 C 80 63.6 78.8 61.2 76.8 59.6 C 72.4 56 66.8 53.6 61.2 52 C 57.2 50.8 52.8 50 48 50 C 43.6 50 39.2 50.8 34.8 52 C 29.2 53.6 23.6 56.4 19.2 59.6 C 17.2 61.2 16 63.6 16 66 L 16 82 L 80 82 Z"/>
                                           </g>
                                           </svg>
                                    </a>
                                </li>
                                
                                <li class="nav-item m-2">
                                    <a class="btnLogout" href="{{ path('app_logout') }}">
                                        <?xml version="1.0" ?>
                                            <svg width='18px' height="18px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                                <defs>
                                                <style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}
                                                </style>
                                                </defs>
                                                <title/>
                                                <g id="logout">
                                                <line class="cls-1" x1="15.92" x2="28.92" y1="16" y2="16"/>
                                                <path d="M23.93,25v3h-16V4h16V7h2V3a1,1,0,0,0-1-1h-18a1,1,0,0,0-1,1V29a1,1,0,0,0,1,1h18a1,1,0,0,0,1-1V25Z"/>
                                                <line class="cls-1" x1="28.92" x2="24.92" y1="16" y2="20"/><line class="cls-1" x1="28.92" x2="24.92" y1="16" y2="12"/>
                                                <line class="cls-1" x1="24.92" x2="24.92" y1="8.09" y2="6.09"/>
                                                <line class="cls-1" x1="24.92" x2="24.92" y1="26" y2="24"/>
                                                </g>
                                            </svg>
                                    </a>
                                </li>
                            {% else %}
                                <li class="nav-item m-2">
                                    <button class="btnConnect" type="button">
                                        <a href="{{ path('app_login') }}">
                                           <?xml version="1.0" ?>
                                                <svg width='16px' height="16px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                                <defs>
                                                <style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}
                                                </style>
                                                </defs>
                                                <title/>
                                                <g id="login">
                                                <line class="cls-1" x1="29" x2="16" y1="16" y2="16"/>
                                                <path d="M24,25v3H8V4H24V7h2V3a1,1,0,0,0-1-1H7A1,1,0,0,0,6,3V29a1,1,0,0,0,1,1H25a1,1,0,0,0,1-1V25Z"/>
                                                <line class="cls-1" x1="16" x2="20" y1="16" y2="12"/><line class="cls-1" x1="16" x2="20" y1="16" y2="20"/>
                                                <line class="cls-1" x1="25" x2="25" y1="8" y2="6"/><line class="cls-1" x1="25" x2="25" y1="26" y2="24"/>
                                                </g>
                                            </svg>
                                        </a>
                                    </button>
                                </li>
                                
                            {% endif %}
                            <li class="nav-item m-2">
                                <button class="btnConnect" type="button"><a href="{{ path('app_cart') }}">
                                <?xml version="1.0" ?>
                                <svg enable-background="new 0 0 64 64" id="Layer_1" version="1.1" viewBox="0 0 64 64" width="24px" height="24px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M23.734,28.125c1.104,0,2-0.896,2-2v-7.8c0-3.487,2.837-6.325,6.324-6.325c3.487,0,6.325,2.838,6.325,6.325v7.8   c0,1.104,0.895,2,2,2c1.104,0,2-0.896,2-2v-7.8C42.384,12.632,37.752,8,32.058,8c-5.692,0-10.324,4.632-10.324,10.325v7.8   C21.734,27.229,22.63,28.125,23.734,28.125z"/><path d="M55,23.631H44.384v2.494c0,2.206-1.794,4-4,4s-4-1.794-4-4v-2.494h-8.649v2.494c0,2.206-1.794,4-4,4s-4-1.794-4-4v-2.494H9   c-0.552,0-0.893,0.435-0.762,0.971l6.998,28.497C15.658,54.701,17.344,56,19,56h26c1.658,0,3.342-1.299,3.766-2.901l6.996-28.497   C55.893,24.065,55.553,23.631,55,23.631z"/>
                                </g>
                                </svg>
                            {% set nbProduits = app.session.get('qt') %}
                            {% if nbProduits > 0 %}
                                <span class="position-absolute top-25 start-90 translate-middle badge rounded-pill bg-danger"> {{ nbProduits }} </span>
                            {% endif %}
                            
                            </a></button></li>
                        </ul> 
                        
                    </div>
                </div>
            </nav>    
        </header>
        {% block body %}
        {% endblock %}
        <!-- Footer -->
        <footer class="text-center text-lg-start bg-light text-muted">
            <!-- Section: Social media -->
            <section class="d-flex justify-content-center justify-content-lg-between border-bottom socialMediaFooter">
                <!-- Left -->
                <div class="me-5 d-none d-lg-block">
                <p>Retrouvez-nous aussi sur les liens suivants :</p>
                </div>
                <!-- Left -->
                <!-- Right -->
                <div>
                    <button class="btnSocialLink">
                        <a href="mailto:mstitchboutique@gmail.com">
                            <?xml version="1.0" encoding="iso-8859-1"?>
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                width="20" height="20" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <path d="M448,64H64C28.656,64,0,92.656,0,128v256c0,35.344,28.656,64,64,64h384c35.344,0,64-28.656,64-64V128
                                    C512,92.656,483.344,64,448,64z M342.656,234.781l135.469-116.094c0.938,3,1.875,6,1.875,9.313v256
                                    c0,2.219-0.844,4.188-1.281,6.281L342.656,234.781z M448,96c2.125,0,4,0.813,6,1.219L256,266.938L58,97.219
                                    C60,96.813,61.875,96,64,96H448z M33.266,390.25C32.828,388.156,32,386.219,32,384V128c0-3.313,0.953-6.313,1.891-9.313
                                    L169.313,234.75L33.266,390.25z M64,416c-3.234,0-6.172-0.938-9.125-1.844l138.75-158.563l51.969,44.531
                                    C248.578,302.719,252.297,304,256,304s7.422-1.281,10.406-3.875l51.969-44.531l138.75,158.563C454.188,415.062,451.25,416,448,416
                                    H64z"/>
                            </g>
                            </svg>
                        </a>
                    </button>
                    <button class="btnSocialLink">
                        <a href="https://www.instagram.com/mstitchboutique">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                                <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
                            </svg>
                        </a>
                    </button>
                </div>
                <!-- Right -->
            </section>
            <!-- Section: Social media -->
            <!-- Section: Links  -->
            <section class="linksContactFooterSection">
                <div class="container text-center text-md-start pt-5 linksContactFooter">
                <!-- Grid row -->
                    <div class="row mt-3 mb-0">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                            <h6 class="text-uppercase fw-bold mb-4"> <i class="fas fa-gem me-3"></i>MStitchBoutique</h6>
                            <p>Petite boutique artisanale de vente d'accessoire fait main au crochetn tricot et couture</p>
                        </div>
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                        <p><a href="{{ path('app_products') }}" class="text-reset">Tous les produits</a></p>
                    </div>
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Toutes les categories</h6>
                        <p><a href="{{ path('app_category_products', { id:productsCategory[0].id })}}" class="text-reset">Sacs</a></p>
                        <p><a href="{{ path('app_category_products', { id:productsCategory[1].id })}}" class="text-reset">Boucles d'oeilles</a></p>
                        <p><a href="{{ path('app_category_products', { id:productsCategory[2].id })}}" class="text-reset">Echarpes</a></p>
                        <p><a href="{{ path('app_category_products', { id:productsCategory[3].id })}}" class="text-reset">Mitaines</a></p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Toutes les matières</h6>
                        <p><a href="{{ path('app_matter_products', { id:productsMatter[0].id })}}" class="text-reset">Coton</a></p>
                        <p><a href="{{ path('app_matter_products', { id:productsMatter[1].id })}}" class="text-reset">Acrylique</a></p>
                        <p><a href="{{ path('app_matter_products', { id:productsMatter[2].id })}}" class="text-reset">Polyester</a></p>
                        <p><a href="{{ path('app_matter_products', { id:productsMatter[3].id })}}" class="text-reset">Coton bio d'Egypte</a></p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3"></i>Mâcon, France</p>
                        <p><i class="fas fa-envelope me-3"></i>mstitcheboutique@gmail.com</p>
                        <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                    </div>
                    <!-- Grid column -->
                    </div>
                <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->
            <!-- Copyright -->
            <div class="text-center p-4 mt-0 endFooter" >
                © 2021 Copyright: Mstitchboutique 
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </body>
    
</html>
